<div class="card">
    <form [formGroup]="userForm">
        <div class="mt-5 box">
           <div class="form row">
            <div class="col-md-12">
                <div class="form-group mt-4">
                    <label>Id</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" formControlName="Id" class="form-control" placeholder="Id">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mt-4">
                    <label>Name</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" formControlName="Name" class="form-control" placeholder="Name">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mt-4">
                    <label> CategoryName</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type=" CategoryName" formControlName="CategoryName" class="form-control" placeholder=" CategoryName">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mt-4">
                    <label>CategoryId</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="CategoryId" formControlName="CategoryId" class="form-control" placeholder="CategoryId">
                    </div>
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary"(click)="addItem()">Add</button>&nbsp; 
                    <button type="button" class="btn btn-primary"(click)="reset()">Reset</button>
                </div>
            </div>
           </div>
         </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CategoryName</th>
                    <th>CategoryId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listData">
                    <td><span>{{item.Id}}</span></td>
                    <td><span>{{item.Name}}</span></td>
                    <td><span>{{item.CategoryName}}</span></td>
                    <td><span>{{item.CategoryId}}</span></td>
                    <!-- <td><button type="button" class="btn btn-primary"(click)="removeItem(item)">Remove</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>